* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  gap: 200px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#logoName {
  display: flex;
  align-items: center;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shows {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 10px;
}

.popupContainter {
  display: none;
  width: 80%;
  height: auto;
  justify-content: center;
  background-color: antiquewhite;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 1%;
  right: 6%;
  padding: 50px;
}

.popupContainter.active {
  display: flex;
}

.popupContainter img {
  padding: 50px;
}

.material-symbols-outlined {
  position: relative;
  padding: 0;
  right: 0%;
  width: auto;
  cursor: pointer;
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 80%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 40%;
}

input {
  padding: 15px;
}

.closeBtn {
  display: flex;
  justify-content: end;
  width: 100%;
}

