* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  gap: 200px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  list-style: none;
  align-items: center;
  justify-content: center;
}
