* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.navbar {
  display: flex;
  gap: 200px;
  width: 100vw;
  height: 50px;
  background-color: black;
  color: white;
  list-style: none;
  align-items: center;
  justify-content: center;
}

#logoName {
  display: flex;
  align-items: center;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shows {
  padding: 10px;
  background-color: rgb(90, 88, 88);
  border-radius: 10px;
  margin: 10px;
  width: min-content;
  border: solid rgba(0, 0, 0, 0.2) 0.4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0.5rem 0.5rem 0.5rem;
}

.contain {
  display: flex;
  justify-content: space-between;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}
